version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - .:/app
    depends_on:
      - db
  db:
    image: postgres:15
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
